*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imgs/background.jpg');
}

/* MENU INICIAL */
#menu-player{
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: aliceblue;
    border: 3px solid black;
    height: 300px;
    width: 300px;
}

#menu-player button{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid black;
}

#menu-player button:hover{
    font-size: 1.7rem;
}

#btn-1player-robot{
    background-color: red;
}
#btn-2player{
    background-color: blue;
}

/* BOX JOGO DA VELHA */

#ticTacToe{
    display: none;
    height: 400px;
    width: 400px;
    background-color: rgb(89, 89, 189);
    border: 1px solid rgb(255, 255, 255);
}

.box-row{
    display: flex;
    height: calc(100%/3);
}

.row{
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    cursor: pointer;
    font-weight: 500;
}

.row1{
    border-right:3px solid rgb(30, 19, 51);
    border-bottom:3px solid rgb(30, 19, 51);
}

.row2{
    border-right:3px solid rgb(30, 19, 51);
    border-bottom:3px solid rgb(30, 19, 51);
}

.row3{
    border-bottom:3px solid rgb(30, 19, 51);
}

.row img{
    width: 70%;
    height: 70%;
}

/* COR DAS LETRAS*/
.o{
    color: rgb(21, 54, 202);
}

.x{
    color: red;
}

/* MENU DE RESULTADO */
#menu-over{
    display: none;
    z-index: 2;
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    border: 3px solid black;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#menu-over h2{
    display: inline;
    text-align: center;
}

#menu-over button{
    width: 100%;
    background-color: brown;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border: 1px solid salmon;
    transition: 0.5s;
    font-weight: bold;
}

#menu-over button:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(56, 13, 13);
}

#overlay{
    display: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.icon-gear{
    position: absolute;
    top: 3rem;
    right: 10rem;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.icon-gear:hover{
    color: rgb(60, 122, 255);
}

#menu{
    z-index: 2;
    position: absolute;
    display: none;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    border: 3px solid black;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
}

#menu .icon-x{
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}

#menu h2{
    font-size: 1rem;
    text-align: center;
}

#menu button{
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #254ab3;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

input[type="range"] {
    background-color: rgb(62, 113, 221);
    -webkit-appearance: none; 
    width: 100%; 
    height: 8px; 
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #254ab3;
    cursor: pointer;
  }
  
  
  input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;  
  }

  input[type="range"]::-moz-range-thumb   
   {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
 